@font-face {
    font-family: "TimesNewR";
    src: url('times new roman.ttf');
}
div {
  font-family: Times New Roman, Times, serif;
}

p, pre{
    font-family: "TimesNewR, Times New Roman, Times, serif";
    src: url('times new roman.ttf');
    }

.text-container {
  max-width: 365px;
  margin: 30px auto;
  padding: 20px;
  margin-left: 5px;
  
}

.text-container img {
  width: 100%;
  max-width: calc(100vw - 60px);
}

}
.text-container p1 {
  margin: 0;
  padding: 0;
}

/* Adds spacing between multiple <pre> blocks */
.text-container pre + pre {
  margin-top: 1em;
